/*
MESSAGE-SECTION-COLORS
#AD66D5;
#D2F870

WRAPPER-COLORS
#A9F16C
*/

.wrapper{
	background-color: #66A1D2;
}

.message{
	background-color: #A9F16C;
	min-height: 40px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #000;
}