

/*body {
}*/



/*#images a:focus{
    -webkit-transform: rotate(0deg) scale(1.5);
    -moz-transform: rotate(0deg) scale(1.5);
    -o-transform: rotate(0deg) scale(1.5);
    transform: rotate(0deg) scale(1.5);
    z-index: 10;
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    outline: 0;
}*/



