html{
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
}

section form .error{
	padding-top: 0.10em;
	padding-bottom: 0.10em;
}

section form .error p{
	padding-top: 0.10em;
}

.popupData{
	color: #000;
	text-align: left;
}

.modal_visible{
	position: fixed;
	visibility: visible;
	display: block;
	z-index: 100 !important;
}

#myModal h2{
	font-size: 1.2em;
}


.background_visible{
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.5;
	z-index: 1 !important;
}

.background_invisible{
	display: none;
}






